div.menu {
	background:-webkit-linear-gradient(7% 30% 33deg, #FFFFFF, #007800 180%);
	background:-moz-linear-gradient(7% 30% 33deg, #FFFFFF, #007800 180%);
	background:-o-linear-gradient(7% 30% 33deg, #FFFFFF, #007800 180%);
	background:linear-gradient(7% 30% 33deg, #FFFFFF, #007800 180%);
}

span.element{
	background-color: rgba(0,0,0,.6);
	font-size: 1.3em;
	color: #fff;
	padding: 3px;	
}

.uk-navbar-nav > li > a{
	color: #902929;
	font-weight: bold;
}


div#test-target{
	height: 92vh;
}

.tela-inteira{
	height: 100vh;
}

.uk-section-muted{
	background: #fff;
}

div.time{
	background: linear-gradient(to bottom, #FFF 40%, #007800 170%);
	background: -webkit-linear-gradient(to bottom, #FFF 40%, #007800 170%);
	background: -moz-linear-gradient(to bottom, #FFF 40%, #007800 170%);
	background: -o-linear-gradient(to bottom, #FFF 40%, #007800 170%);
  	
}

img.logo-img{
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

img.uk-border-circle{
	width: 150px;
	height: 150px;
	object-fit: cover;

}

.uk-overlay {
    padding: 5px;
}

figure{
	background-color: #fff!important;
}
