@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	color: #333;
	font-size: 100%;
	line-height: 1.5;
}
nav {
	--duration: .5s;
	--easing: ease-in-out;
	position: fixed;
	width: 220px;
	margin: 20px;
	z-index: 2;
}
nav ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	margin: -4px 0 0 0;
}
nav a {
	display: block;
	text-decoration: none;
	background: #902929;
	transform-origin: 0 0;
	transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
	transition-delay: var(--delay-out);
	border-radius: 4px;
	padding: 1em 1.52em;
	color: #fff;
	font-weight: bold;
}
nav a:hover {
	background: #efefef;
}
nav .sub-menu a {
	font-size: .9em;
	color: #fff;
	border-left: 2em solid white;
	padding: .75em;
	background: linear-gradient(to right, #dddddd 2px, #902929 2px);
	background: -moz-linear-gradient(to right, #dddddd 2px, #902929 2px);
	background: -webkit-linear-gradient(to right, #dddddd 2px, #902929 2px);
	background: -o-linear-gradient(to right, #dddddd 2px, #902929 2px);
	
}
nav .sub-menu a:hover {
	background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
	background: -moz-linear-gradient(to right, #dddddd 2px, #efefef 2px);
	background: -webkit-linear-gradient(to right, #dddddd 2px, #efefef 2px);
	background: -o-linear-gradient(to right, #dddddd 2px, #efefef 2px);
}
nav header {
	font-weight: 600;
	display: block;
	background: rgba(255, 255, 255, 0.5);
	transform-origin: 0 0;
	transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
	transition-delay: var(--delay-out);
	border-radius: 4px;
	padding: 1em 1.52em;
}
nav header span {
	border: none;
	background: transparent;
	font-size: 1.5em;
	padding: 0;
	cursor: pointer;
	line-height: 1;
	float: right;
}
nav footer button {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	padding: calc(1em - 2px);
	width: 100%;
	transform-origin: 0 0;
	transition: transform var(--duration) var(--easing);
	transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
	cursor: pointer;
	outline: none;
	background: #cdcdcd;
	opacity: 0;
}
nav.closed a,
nav.closed header {
	transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
	transition-delay: var(--delay-in);
	color: transparent;
}
nav.closed footer button {
	transition-delay: 0s;
	transform: scaleY(0.7) scaleX(0.2);
}

